*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: rgb(56, 56, 56);
}

a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: rgb(50, 60, 205);
    padding: 8px 8px;
    border-radius: 3px;
}
a:hover{
    transition: 100ms;
    display: inline-block;
    text-decoration: none;
    color: white;
    background: rgb(40, 49, 170);
}

.container{
    padding: 0px 20px;
    width: 500px;
}

.container .header{
    margin: 20px 0px;
}