*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.panel-splitter:hover{
 cursor: e-resize;
}

.panel-vertical{
    background: green;
}
.panel-horizontal{
    background: hotpink;
}
