*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


#container{
    width: 100%;
    height: 96.9vh;
    background: rgb(255, 255, 255);
}

.panel{
    outline: 1px solid rgba(0, 0, 0, 0.055);
}

.panel-light{
    background: rgb(63, 63, 63);
}

.content{
    background: rgb(41, 41, 41);
    height: 100%;
    padding: 12px;
    color: white;
}

.menu{
    background: rgb(26, 26, 26);
    padding: 4px 10px;
}
.menu-item{
    color: white;
    padding: 4px 10px;
    text-decoration: none;
}
