*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.splitter-horizontal:hover{
    cursor: e-resize;
}

.splitter-vertical:hover{
    cursor: n-resize;
}


.panel{
    outline: 1px solid rgba(0, 0, 0, 0.466);
}

.content{
    padding: 12px;
}

.menu{
    background: rgb(26, 26, 26);
    padding: 4px 10px;
}
.menu-item{
    color: white;
    padding: 4px 10px;
    text-decoration: none;
}
